
{{if user}}
<a href="http://www.instapaper.com/u">${user.username}</a>, 
已同步 ${user.sync_count || 0} 条收藏.
<a href="/logout">Logout</a>.

<h2>微博帐号</h2>
<ul>
    {{each(type, name) blogtypes}}
    <li>
        <img alt="${type} logo" title="${name}" src="/image/blogs/${type}_16.png" />
    {{if binds[type]}}
        <a href="${binds[type].t_url}" target="_blank">@${binds[type].screen_name}</a>,
        已同步 ${binds[type].sync_count || 0} 条收藏
        <a href="/unbind/${binds[type].user_id}">取消绑定</a>
    {{else}}
        <a href="/oauth?blogtype=${type}">绑定${name}</a>
    {{/if}}
    </li>
    {{/each}}
</ul>
{{else}}
<form method="post" action="/login">
    <fieldset>
        <p><label for="username">UserName</label>: <input type="text" id="username" name="username" /></p>
        <p><label for="password">Password</label>: <input type="password" id="password" name="password" /></p>
        <p><input type="submit" id="login_btn" value="Login" /></p>
    </fieldset>
</form>
{{/if}}

<h2>正在使用</h2>
{{each(i, user) users}}
    <span>${user.username}</span>
    <span>
    {{if user.binds}}
    (
	{{each(id, t_user) user.binds}}
	    <img alt="${t_user.blogtype} logo" src="/image/blogs/${t_user.blogtype}_16.png" />
        <a href="${t_user.t_url}" target="_blank">@${t_user.screen_name}</a>
	{{/each}}
	)
	{{/if}}
	</span>
	|
{{/each}}